.chartContainer {
    margin-top: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chartWrapper {
    position: relative;
    width: 60%;  
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
  }
  